@model List<SimonsBankApp.Bank.Customer>

<style>
    table {
        margin-top: 20px;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<table>
    <tr>
        <th>CustomerNo</th>
        <th>Name</th>
        <th>BY</th>
        <th>AccountNo</th>
        <th>Balance</th>
    </tr>

    @foreach (var customer in Model)
    {
    <tr>
        <th align="left">@customer.CustomerNo</th>
        <th align="left">@customer.Name</th>
        <th align="left">@customer.BirthYear.ToShortDateString()</th>
        <th align="right">@customer.Accounts.First().AccountNo</th>
        <th align="right">@customer.Accounts.First().Balance</th>
    </tr>
    }
</table>